@import '../../../src/styles/main.scss';

.Yellow {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $yellow;
  box-shadow: inset 0rem 0rem 0rem 5rem $yellow;
  .Nav {
    z-index: 4;
  }
  main {
    @include flex-center;
    justify-content: space-between;
    width: 86%;
    margin-top: 3rem;
    h1 {
      color: $white;
    }
    h2 {
      max-width: 55rem;
    }
    .Button {
      margin-top: 2.5rem;
    }
  }
  section.demo-interactive {
    filter: none;
    height: 100%;
    width: 50%;
    margin-left: 0;
    overflow: hidden;
    .circle1 {
      height: 40rem;
      width: 40rem;
      border-radius: 100%;
      margin-top: 2rem;
      background-image: url('https://i.imgur.com/RccGx0k.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -10rem;
    }
    .reveal1 {
      position: absolute;
      z-index: 2;
      margin-top: 7rem;
      margin-right: 7rem;
      &.invert {
        filter: invert(100%);
      }
    }
    .Button {
      z-index: 4;
      margin-left: 15rem;
    }
    .cover1 {
      height: 55rem;
      width: 55rem;
      border-radius: 100%;
      position: absolute;
      margin-top: -25rem;
      margin-left: -12rem;
      box-shadow: inset -5rem 0rem 0rem 16rem $yellow;
      border-radius: 100%;
      z-index: -1;
      &.show {
        box-shadow: none;
      }
    }
  }
  section.demo-text {
    z-index: 2;
  }
}
