@import '../../../src/styles/main.scss';

.Red {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $red;
  main {
    @include flex-center;
    justify-content: space-between;
    width: 86%;
    margin-top: 3rem;
    h1 {
      color: $white;
    }
    h2 {
      max-width: 55rem;
    }
    .Button {
      margin-top: 2.5rem;
    }
  }
  section.demo-interactive {
    filter: drop-shadow(0px 25px 25px $red-shadow);
    .speaker {
      img {
        max-width: initial;
      }
      &:nth-child(2) {
        margin: 13rem 0 0 4rem;
        transform: scaleX(-1);
      }
      ::before {
        mix-blend-mode: multiply;
      }
    }
    .Button {
      position: absolute;
      margin-top: 35rem;
    }
  }
}
