@import '../../styles/main.scss';

.Hero {
  min-width: 100vw;
  min-height: 100vh;
  @include flex-center;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  transition: 0.5s;
  main {
    text-align: center;
    @include flex-center;
    flex-direction: column;
  }
  h3 {
    max-width: 50rem;
  }
  .controls {
    @include flex-center;
    margin-bottom: 1rem;
    .control-button {
      height: 0.75rem;
      width: 0.75rem;
      border: 1px solid $white;
      border-radius: 100%;
      margin: 0.3rem;
      transition: 0.2s;
      &.selected,
      &:hover {
        background-color: $white;
        cursor: pointer;
      }
    }
  }
}
