$red: #d34848;
$red-shadow: rgb(129, 0, 0);
$yellow: #ffb33f;
$blue: #1fe1e9;
$blue-shadow: #007b80;
$purple: #5e33d1;
$white: #ffffff;
$grey: #191919;
$black: #0b0b0b;

$font-main: 'Oxygen', sans-serif;
