@import 'fontstyle';
@import 'variables';
@import 'mixins';

.line {
  width: 8rem;
  border-bottom: 0.2rem solid;
  margin-bottom: 1rem;
}
.color-red {
  color: $red;
}
.color-yellow {
  color: $yellow;
}
.color-blue {
  color: $blue;
}
.border-red {
  border-color: $red;
}
.border-yellow {
  border-color: $yellow;
}
.border-blue {
  border-color: $blue;
}
.bg-rainbow {
  background: linear-gradient(to right, $blue, $purple, $red, $yellow);
}
.bg-blue {
  background-color: $blue;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-red {
  background-color: $red;
}

section.demo-text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
section.demo-interactive {
  margin-left: 3rem;
  padding-bottom: 8rem;
  @include flex-center;
  align-items: flex-start;
}
