@import '../styles/main.scss';

.Nav {
  margin-top: 2rem;
  width: 100%;
  @include flex-center;
  justify-content: space-between;
  min-height: 8rem;
  user-select: none;
  i {
    color: $white;
    font-size: 3.3rem;
    transform: scaleX(1.5);
    margin: 1.3rem 3rem 0;
  }
  h2 {
    color: $white;
    font-weight: 400;
    letter-spacing: 0.2rem;
  }
  .nav-bg-container {
    position: absolute;
    margin-top: 28rem;
    height: 40rem;
    width: 40rem;
    overflow: hidden;
    transition: 0.5s;
    .nav-bg {
      position: absolute;
      margin-top: -10rem;
      left: -5rem;
      height: 45rem;
      width: 45rem;
      border-radius: 100%;
      background: $black;
      z-index: 1;
    }
    .menu {
      height: 20rem;
      z-index: 1;
      color: $white;
      position: absolute;
      margin-top: 10rem;
      margin-left: 4.1rem;
    }
    .nav-item {
      color: $white;
      h1 {
        font-size: 3.5rem;
        margin: 0.3rem 0;
        padding: 0;
        line-height: 4rem;
      }
      &.active,
      &:hover {
        cursor: pointer;
        color: $red;
      }
    }
    &.hidden {
      display: none;
    }
  }
  section.nav-left {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    z-index: 2;
    .fa-bars {
      cursor: pointer;
    }
    &.active {
      i,
      h2 {
        color: $red;
      }
    }
  }
  section.nav-right {
    margin-right: 4rem;
  }
}
