@import './styles/main.scss';

.App {
  background-color: $grey;
  @include flex-center;
  flex-direction: column;
  .view-pricing {
    .Perks {
      background-color: $red;
      .Nav {
        .Button {
          display: none;
        }
      }
      .PerkItem {
        .line {
          border-color: $white;
        }
        h2 {
          color: $white;
        }
        h3 {
          color: $black;
        }
      }
    }
  }
  :not(.view-pricing) .Perks,
  .Get,
  .Pricing {
    .nav-bg {
      background-color: $blue;
    }
    .nav-item.active,
    .nav-item:hover {
      color: $grey;
    }
    .nav-left.active {
      i,
      h2 {
        color: $white;
      }
    }
  }
  .Yellow {
    .nav-item.active,
    .nav-item:hover {
      color: $yellow;
    }
    .nav-left.active {
      i,
      h2 {
        color: $yellow;
      }
    }
  }
  .Hero,
  .Reviews {
    .nav-item.active,
    .nav-item:hover {
      color: $blue;
    }
    .nav-left.active {
      i,
      h2 {
        color: $blue;
      }
    }
  }
  .Payment {
    .Nav {
      i,
      h2 {
        color: $black;
      }
    }
  }
}
